.DossierOuvertSearchBar {
	border-bottom: 5px solid transparent;
	background: transparent;
	width: 100%;
	height: 25px;
	display: flex;
	justify-content: space-between;
}

.lienDossier {
	display: flex;
	border: 1px solid var(--header-modif);
	margin: 1px;
	align-items: center;
	width: 35%;
	justify-content: flex-start;

	&--1 {
		margin: 1rem;
    display: block;
		cursor: pointer;
		padding: 1px 5px;

		&:hover {
			background: var(--dossier-hover);
		}
	}
	&--2 {
		margin: 1rem;
    display: block;
		cursor: pointer;
		padding: 1px 5px;
		&:hover {
			background: var(--dossier-hover);
		}
	}
	&--crochet {
		margin: 1rem;
    display: block;
	}
}