.dossier {
	margin: 1.8rem;
	z-index: 1;
	height: 10vh;
	width: 8vw;
}
.dossierDevant {
	background: var(--filesColor);
	filter: brightness(1.3);
	width: 100px;
	height: 65px;
	border-radius: 5%;
	position: relative;
	z-index: 3;
	cursor: pointer;
	box-shadow:
		0 0px 0 var(--filesColor),
		0 0px 0 var(--filesColor),
		0 3px 0 var(--filesColor),
		0 0px 0 var(--filesColor),
		0 -1px 0 var(--filesColor),
		0 7px 1px rgb(0 0 0 / 10%),
		0 0 5px rgb(0 0 0 / 10%),
		0 1px 3px rgb(0 0 0 / 30%),
		0 3px 5px rgb(0 0 0 / 30%),
		0 5px 10px rgb(0 0 0 / 25%),
		0 1px 0px rgb(0 0 0 / 20%),
		0 12px 0px rgb(0 0 0 / 15%);
}
.papier {
	background: aliceblue;
	width: 100px;
	height: 62px;
	border-radius: 5%;
	position: relative;
	top: -155px;
	left: 5px;
	z-index: 2;
	cursor: pointer;
}
.papierTitre {
	text-align: right;
	padding-right: 0.2rem;
	font-size: 0.8rem;
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
}

.dossierLanguette {
	position: absolute;
	background: var(--filesColor);
	filter: brightness(1);
	width: 40px;
	height: 30px;
	top: -10px;
	border-radius: 5% 15% 5% 5%;
}

.dossier:hover > .papier {
	transform: rotate3d(1, 1, 1, -20deg) translate3d(25px, -5px, -30px);
	transition: 400ms;
}

.dossierArriere {
	background: var(--filesColor);
	width: 100px;
	height: 62px;
	border-radius: 5%;
	position: relative;
	top: -70px;
	left: 5px;
	z-index: 0;
}
