.dossier {
	/* position: fixed;
	top: 50px;
	left: 50px; */
	margin: 1rem;
	z-index: 1;
}
.dossierDevant {
	background: #f7f72a;
	width: 100px;
	height: 65px;
	border-radius: 5%;
	position: relative;
	z-index: 3;
	cursor: pointer;
}
.papier {
	background: aliceblue;
	width: 100px;
	height: 62px;
	border-radius: 5%;
	position: relative;
	top: -155px;
	left: 5px;
	z-index: 2;
	cursor: pointer;
}
.papierTitre {
	text-align: right;
	padding-right: 0.2rem;
	font-size: 0.8rem;
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
}

.dossierLanguette {
	position: absolute;
	background: #f7f72a;
	width: 40px;
	height: 30px;
	top: -10px;
	border-radius: 5% 15% 5% 5%;
}

.dossier:hover > .papier {
	transform: rotate3d(1, 1, 1, -20deg) translate3d(25px, -5px, -30px);
	transition: 400ms;
}

.dossierArriere {
	background: #dbdb0c;
	width: 100px;
	height: 62px;
	border-radius: 5%;
	position: relative;
	top: -70px;
	left: 5px;
	z-index: 0;
}
