.menu {
	width: 80px;
	height: 80px;
	position: absolute;
	background: transparent;
	border-radius: 35% 75% 35% 75%;
	top: 25px;
	right: 50px;
	cursor: pointer;
	transition: 500ms ease-in-out;

	&--clic {
		transform: rotate(135deg);
	}
}

.bordgaucheHaut {
	width: 36px;
	height: 36px;
	background: #e2f8ff;
	border-radius: 0% 0% 0% 0%;	
	top: 0;
	right: 0;
	transition: 500ms ease-in-out;
	position: relative;
}
.borddroitHaut {
	width: 36px;
	height: 36px;
	background: #e2f8ff;
	border-radius: 0% 75% 0% 0%;
	position: absolute;
	top: 0;
	right: 0;
	transition: 500ms ease-in-out;
}
.bordgaucheBas {
	width: 36px;
	height: 36px;
	background: #e2f8ff;
	border-radius: 0% 0% 0% 75%;
	bottom: 0;
	position: absolute;
	left: 0;
	transition: 500ms ease-in-out;
}
.borddroitBas {
	width: 36px;
	height: 36px;
	background: #e2f8ff;
	border-radius: 0% 0% 0% 0%;
	bottom: 0;
	position: absolute;
	right: 0;
	transition: 500ms ease-in-out;
}
.menu:hover {

	& > .bordgaucheHaut {
		top: 0;
		right: 15px;
    position: relative;
	}
	& > .borddroitHaut {
		top: 0;
    right: -15px;
	}
	& > .bordgaucheBas {
		bottom: -15px;
    left: -15px;
	}
	& > .borddroitBas {
		bottom: -15px;
    right: -15px;
	}
}


.menuNavigation {
	display: none;
	/* visibility: hidden; */
	&--clic {
		display: block;
		/* visibility: visible; */
    transform: rotate(-135deg);
	}
}
#scroll-container {
  overflow: hidden;
  margin: auto;
  position: relative;
  min-height: 200px;
	top: -22px;
	left: 6px;
	width: 350px;
	transform: rotate(210deg);
}
.wrap-container {
	position: relative;
	max-height: 350px;
	width: 100%;
	max-width: 100%;
	margin: auto;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px;
  mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, black), color-stop(1, transparent));

}

ul, ul li {
	margin: 0;
	padding: 0;
	text-align: center;
}
ul {
	list-style: none;
	position: relative;
	transition: transform .3s;
	top: 25px;
}
.wrap-container ul li.active .item { 
	transform: scale(2) /* rotate3d(0, 0, 1, 45deg) */;
}
ul li .item {
	position: relative;
	transition: transform 200ms;
	display: inline-block;
	transform: translate3d(50px, 0px, 15px) rotate3d(1, 1, 1, 55deg);
	
}
.wrap-container ul li {
  height: 130px;
  line-height: 140px;
  transition: transform .3s;
  overflow: hidden;
	margin-left: 1rem;
}

.active {
	transform: rotate(15deg);
	overflow: hidden;
	transition: transform .3s;
}
.derriere {
	transform: translate3d(50px, 0px, 15px) rotate3d(1, 1, 1, -50deg);

}
.wrap-container ul li:last-of-type { 
	padding-bottom: 50px; 
	
}
li.active:after {
	content: "";
	border-bottom: 40px solid white;
	border-left: 45px solid transparent;
	position: absolute;
	top: 52px;
	right: 0;
	transform: rotate(132deg);
}

li.active:before {
	content: "";
	border-bottom: 40px solid white;
	border-left: 45px solid transparent;
	position: absolute;
	top: 57px;
	left: 0;
	transform: rotate(-50deg);
}