.mail_intro {
	width: 400px;
	height: 200px;
	background: #0329dd;
	position: absolute;
	display: flex;
	top: 250px;
	left: 175px;
	margin: auto;
	z-index: 3;
	border-radius: 10px;
	cursor: grab;
	perspective: 400px;
	box-shadow:
		0 0px 0 #0329dd,
		0 0px 0 #0329dd,
		0 3px 0 #0329dd,
		0 0px 0 #0329dd,
		0 -1px 0 #0329dd,
		0 7px 1px rgb(0 0 0 / 10%),
		0 0 5px rgb(0 0 0 / 10%),
		0 1px 3px rgb(0 0 0 / 30%),
		0 3px 5px rgb(0 0 0 / 30%),
		0 5px 10px rgb(0 0 0 / 25%),
		0 1px 0px rgb(0 0 0 / 20%),
		0 12px 0px rgb(0 0 0 / 15%);
	animation: changeSize 1s 11s forwards ;
}

.close {
	display: none;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
	margin: 4rem auto;
	transform: translateZ(-1000px);
	animation: turn 10s 200ms forwards;
}

.cube__face {
	position: absolute;
  width: 200px;
  height: 200px;
	border: 8px solid white;
	& > span {
		font-size: 10rem;
    padding-left: 1.5rem;
		color: white;
		transform: translateZ(-200px);
	}
}

.cube__face--front { background: rgb(255 0 0 / 0%); }
.cube__face--right { background: rgb(153 255 102 / 0%); }
.cube__face--back { background: rgb(0 255 0 / 0%); }
.cube__face--left { background: rgb(0 255 255 / 0%); }
.cube__face--top { background: rgb(0 0 255 / 0%); }
.cube__face--bottom { background: rgb(255 0 255 / 0%); }
.cube__face--front { transform: rotateY(  0deg) translateZ(100px); }
.cube__face--right { transform: rotateY( 90deg) translateZ(100px); }
.cube__face--back { transform: rotateY(180deg) translateZ(100px); }
.cube__face--left { transform: rotateY(-90deg) translateZ(100px); }
.cube__face--top { transform: rotateX( 90deg) translateZ(100px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(100px); }

@keyframes turn {
	0% {
		transform: translateZ(-1000px) rotateY(0deg);
		transform: translateZ(-1000px) rotateX(90deg)
	}
	20% {
		transform: translateZ(-1000px) rotateY(-90deg);
	}
	40% {
		transform: translateZ(-1000px) rotateY(-180deg);
	}
	60% {
		transform: translateZ(-1000px) rotateY(90deg);
	}
	80% {
		transform: translateZ(-1000px) rotateX(-90deg);
	}
	100% {
		transform: translateZ(-2000px) rotateY(0deg);
		}
}

@keyframes changeLogo {
	0% {
		width: 100%;
		height: 100%;
		transform-style: preserve-3d;
		margin: 4rem auto;
	}
	100% {
		transform-style: flat;
		margin: 0;
		top: -1375px;
		left: -2200px;
		width: 0;
		height: 0;
	}	
}

@keyframes changeSize {
	0% {
		width: 400px;
		height: 200px;
	}
	100% {
		width: 75vw;
    height: 80vh;
    top: 60px;
    left: 175px;
	}
}

.mailBox {
	background: var(--theme-page-background);
	width: 98%;
	height: 90%;
	position: absolute;
	top: 52px;
	left: 10px;
	border-radius: 10px;
	display: flex;
	animation:openMailBox 1s 12s forwards;
	visibility: hidden;
}

@keyframes openMailBox {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}