.contenu {
	width: 100%;
	margin-right: 0.3rem;
	border-top: 1px solid var(--header-modif);
}

.headerContenu {
	display: flex;
	width: 100%;
	color: var(--header-contenu);
	font-size: 0.9rem;
	&--image {
		display: none;
	}
	&-nom {
		margin-left: 0.4rem;
		width: 20%;
		border-right: 1px solid var(--header-modif);
		padding: 0.3rem 0;
	}
	&-modif {
		margin-left: 0.4rem;
		width: 15%;
		border-right: 1px solid var(--header-modif);
	}
	&-type {
		margin-left: 0.4rem;
		width: 15%;
		border-right: 1px solid var(--header-modif);
	}
	&-taille {
		margin-left: 0.4rem;
		width: 5%;
		border-right: 1px solid var(--header-modif);
	}
}

.contenuFile {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	&--image {
		display: flex;
		flex-direction: row;
    width: 15%;
    height: 40%;
	}
	&-line {
		display: flex;
		height: 10%;
		width: 100%;
		cursor: pointer;
		&--image {
			height: 20%;
    	margin-top: 1rem;
		}
	}
	&-nom {
		display: flex;
		margin: auto 0.4rem;
		width: 20%;
		&--image {
			margin: auto;
			width: 100%;
    	flex-direction: column;
			& > p {
				text-align: center;
				padding-top: 0.5rem;
			}
		}
		& > p {
			margin: auto 0.5rem;
			font-size: 0.8rem;
		}
	}
	&-modif {
		width: 15%;
		margin-left: 0.4rem;
		&--image {
			display: none;
		}
	}
	&-type {
		width: 15%;
		margin-left: 0.4rem;
		&--image {
			display: none;
		}
	}
	&-taille {
		width: 5%;
		margin-left: 0.4rem;
		&--image {
			display: none;
		}
	}
	&-titre {
		font-size: 0.8rem;
		color:var(--header-contenu);
	}
}

.feuille {
	background: aliceblue;
	width: 14px;
	height: 20px;
	border-radius: 5% 15% 5% 5%;
	border: 1px solid #e5e5dd;
	position: relative;
	&--image {
		width: 60px;
    height: 80px;
    margin: auto;
		border: 1px solid #a19e9e;
		border-radius: 5px 5px 5px 5px;
		box-shadow:
			0 0px 0 #a19e9e,
			0 0px 0 #a19e9e,
			0 3px 0 #a19e9e,
			0 0px 0 #a19e9e,
			0 -1px 0 #a19e9e,
			0 7px 1px rgb(0 0 0 / 10%),
			0 0 5px rgb(0 0 0 / 10%),
			0 1px 3px rgb(0 0 0 / 30%),
			0 3px 5px rgb(0 0 0 / 30%),
			0 5px 10px rgb(0 0 0 / 25%),
			0 1px 0px rgb(0 0 0 / 20%),
			0 12px 0px rgb(0 0 0 / 15%);
		&::before {
			content: "";
			height: 80px;
			margin: 6px !important;
			position: absolute;
			top: -6px;
			width: 60px !important;
			right: -5px;
			background: aliceblue;
			border-radius: 5px 5px 5px 5px;
			border: 1px solid #a19e9e;
		}
		&::after {
			content: "";
			position: absolute;
			background: aliceblue;
			top: 2px;
			right: 3px;
			border-radius: 5px 5px 5px 5px;
			width: 60px;
			height: 80px;
			border: 1px solid #a19e9e;
		}
	}
}

.contenuFile-line:hover {
	background: var(--dossier-hover);
}

.contenuFile-line--image:hover {
	background: var(--dossier-hover);
	height: 100%;
	margin-top: 0;
}
.feuille-nom {
	width: 14px;
	background: #df5a5a;
	height: 8px;
	position: absolute;
	top: 8px;
	z-index: 2;
	font-size: 0.2rem;
	right: 0px;
	text-align: center;
	text-shadow: 0 0 black;
	text-transform: uppercase;
}
.feuille-nom--image {
	width: 60px;
	background: #df5a5a;
	height: 25px;
	position: absolute;
	top: 35px;
	z-index: 2;
	right: 4px;
	font-size: 1rem;
	text-align: center;
	text-shadow: 0 0 black;
	text-transform: uppercase;
	text-shadow:
		0 1px 1px rgb(0 0 0 / 10%),
		0 0 5px rgb(0 0 0 / 10%),
		0 2px 1px rgb(0 0 0 / 30%),
		0 3px 5px rgb(0 0 0 / 30%),
		0 5px 10px rgb(0 0 0 / 25%),
		0 1px 0px rgb(0 0 0 / 20%),
		0 2px 0px rgb(0 0 0 / 15%);
	box-shadow:
		0 0px 0 #df5a5a,
		0 0px 0 #df5a5a,
		0 3px 0 #df5a5a,
		0 0px 0 #df5a5a,
		0 -1px 0 #df5a5a,
		0 6px 1px rgb(0 0 0 / 10%),
		0 0 3px rgb(0 0 0 / 10%),
		0 1px 3px rgb(0 0 0 / 30%),
		0 3px 5px rgb(0 0 0 / 30%),
		0 5px 10px rgb(0 0 0 / 25%),
		0 1px 0px rgb(0 0 0 / 20%),
		0 7px 0px rgb(0 0 0 / 15%)
}

.html {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 4px solid #ebe4e4;
	position: relative;
	background: #1f6034;
	background: linear-gradient(180deg, rgba(4,0,255,1) 0%, rgba(255,0,0,1) 38%, rgba(31,96,52,1) 68%, rgba(218,221,24,1) 100%);
	&::before {
		content: '';
    width: 2px;
    height: 2px;
    background: rgba(31,96,52,1);
    position: absolute;
    top: 3px;
    left: 2px;
    border: 1px solid white;
		border-radius: 50%;
	}

	&--image {
		width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 10px solid #ebe4e4;
    position: relative;
    background: linear-gradient(180deg, #0400ff 0%, red 38%, #1f6034 68%, #dadd18 100%);
		margin: auto;
		&::before {
			content: "";
			width: 10px;
			height: 10px;
			background: #1f6034;
			position: absolute;
			top: 20px;
			left: 20px;
			border: 5px solid white;
			border-radius: 50%;
		}
	}
}

.mail {
	width: 20px;
	height: 14px;
	background: white;
	border: 3px solid #0329dd;
	position: relative;
	perspective: 400px;
	&::after {
		content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    background: white;
    border: 1px solid #0329dd;
    width: 15px;
    height: 3px;
	}
	&--image {
		margin: 0.3rem 0.5rem;
    width: 70px;
    height: 60px;
    background: white;
    border: 6px solid #0329dd;
    position: relative;
		transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 1s;
		&::after {
			content: "";
			position: absolute;
			top: 10px;
			left: 7px;
			width: 50px;
			height: 10px;
			border-radius: 3px;
			border: 3px solid #0329dd;
		}
		&::before {
			width: 70px;
			height: 60px;
			background: white;
			border: 6px solid #0329dd;
			position: absolute;
			content: '';
			transform-style: preserve-3d;
			transform: rotateY(246deg) translateZ(100px);
			top: -6px;
			right: -155px;
			transition: transform 1s;
		}
	}
}

span.mail-nom.mail-nom--image::before {
	content: '';
	width: 20px;
	height: 10px;
	border: 1px solid #0329dd;
	position: absolute;
	left: 40px;
	bottom: 15px;
}

span.mail-nom.mail-nom--image::after {
	content: '';
	width: 3px;
	height: 3px;
	border-radius: 50%;
	position: absolute;
	bottom: 20px;
	left: 10px;
	border: 1px solid #0329dd;
}

span.mail-nom::before {
	content: '';
	width: 5px;
	height: 3px;
	background: white;
	border: 1px solid #0329dd;
	position: absolute;
	bottom: 2px;
	left: 10px;
}

span.mail-nom::after {
	content: '';
	background: white;
	border: 1px solid #0329dd;
	width: 2px;
	height: 2px;
	border-radius: 50%;
	position: absolute;
	bottom: 3px;
	left: 2px;
}