.menuGauche {
	width: 20%;
	/* height: 90vh; */
	/* background: red; */
	border-right: 1px solid #c3959594;
	border-top: 1px solid #c3959594;
	margin-left: 0.3rem;
}

.lienMenu--1 {
	display: flex;
	justify-content: space-evenly;
	padding-top: 1rem;
	cursor: pointer;
	&:hover {
		background: #e2f8ff;
	}
}
.lienMenu--1-titre {
	margin: 0;
	width: 100px;
}

.screen {
	width: 25px;
	height: 15px;
	background: linear-gradient(225deg, #2d5c01, #0069a7, #0400ff);
	display: block;
	border: 2px solid black;
	position: relative;
	&::after {
		content: '';
		width: 15px;
		height: 5px;
		position: absolute;
		bottom: 0;
	}
}

.dossierMenu {
		background: #dbdb0c;
    width: 14px;
    height: 20px;
    border-radius: 5% 15% 5% 5%;
    border: 1px solid #e5e5dd;
		position: relative;
		&::before {
			content: '';
			height: 20px;
			margin: 2px auto;
			border-radius: 5% 15% 5% 5%;
			position: absolute;
			top: -3px;
			width: 14px;
			left: -3px;
			background: #f7f72a;
			border: 1px solid #e5e5dd;
		}
		&--image {
			width: 60px;
			height: 80px;
			margin: auto;
			&::before {
				content: '';
				height: 80px;
				margin: 2px auto;
				border-radius: 5% 15% 5% 5%;
				position: absolute;
				top: -3px;
				width: 60px;
				left: -3px;
				background: #f7f72a;
				border: 1px solid #e5e5dd;
			}
		}
}