@use 'vars';

body {
  margin: 0;
}

html {
  box-sizing: border-box;
  overflow: hidden;
}

a {
  text-decoration: none;
	color: var(--theme-page-text);
}

input,
button {
  outline: 0;
}

ul, li {
	list-style: none;
}

strong {
	font-weight: lighter;
}

#root {
	/* position: relative; */
}