.a_propos {
	width: 100%;
	height: 90%;
	background: #dbe1c2;
	overflow-y: scroll;
}

.matete {
	width: 150px;
	height: 200px;
	background: red;
	margin: 4rem 26rem;
	border-radius: 75px 75px 75px 75px;
}