.mailBox-viewSmallMessage {
	background: var(--theme-page-background);
	width: 30%;
	height: 100%;
	box-shadow: inset -10px 1px 16px -5px var(--theme-inset);
	display: flex;
	flex-direction: column;
	font-family: 'Ubuntu', sans-serif;
	color: var(--theme-page-text);
}

.viewSmallMessage-searchBar {
	height: 5%;
	width: 99%;
	position: relative;
	/* box-shadow: 0px 0px 0px 0px var(--theme-inset); */
	& > img  {
		width: 5%;
		position: absolute;
		top: 5px;
    left: 5px;
	}

	& > input {
		font-size: 1rem;
    border: 0;
    width: 88%;
    padding-left: 2rem;
    height: 95%;
    background: transparent;
		caret-color:#6eaf6e;
		color: var(--theme-page-text);
		box-shadow: none;

		&:focus {
			box-shadow: 0px 3px 2px 0px #6eaf6e;
		}
	}
}

.viewSmallMessage-smallMessage {
	width: 99%;
	height: 25%;
	font-size: 0.8rem;
	margin-top: 0.5rem;
	box-shadow: 1px 3px 6px 0px var(--theme-inset);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	cursor: pointer;
}
.smallMessage-thumbmail {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: var(--theme-inset);
	border: 4px solid #d5cece;
	margin: 0.4rem;
}

.smallMessage {
	&-group {
		overflow-y: auto;
		height: 100%;
	}
	&-name {
		width: 80%;
		font-size: 0.8rem;
		font-weight: bold;
		margin: auto;
		& > span {
			margin-right: 1rem;
		}
	}
	&-title {
		font-size: 0.8rem;
		font-weight: bold;
		margin-left: 2.5rem;
		width: 100%;
	}
	&-date {
		position: absolute;
    font-size: 0.6rem;
    top: 6px;
    right: 12px;
	}
	&-extrait {
		font-size: 0.7rem;
    margin-left: 1.5rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

#srollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#srollbar::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#srollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #c6ddc6;
}

.colorSelect {
	position: absolute;
	width: 3px;
	height: 80%;
	background: #6eaf6e;
	top: 10px;
	right: 0px;
}