.gamesLogo {
	width: 100px;
	height: 50px;
	background: #eee;
	position: absolute;
	top: 150px;
	left: 350px;
	border-radius: 5px;
	cursor: pointer;
	box-shadow:
		0 0px 0 #a19e9e,
		0 0px 0 #a19e9e,
		0 3px 0 #a19e9e,
		0 0px 0 #a19e9e,
		0 -1px 0 #a19e9e,
		0 7px 1px rgb(0 0 0 / 10%),
		0 0 5px rgb(0 0 0 / 10%),
		0 1px 3px rgb(0 0 0 / 30%),
		0 0px 18px rgb(0 0 0 / 30%),
		0 22px 22px rgb(0 0 0 / 25%),
		0 1px 0px rgb(0 0 0 / 20%),
		0 -4px 0px rgb(0 0 0 / 15%);

	&::before {
		width: 90px;
		height: 45px;
		background: #3c3c3c;
		content: "";
		position: absolute;
		top: 4px;
		left: 4px;
		border-radius: 5px;
	}
}

.pads-DG {
	width: 15px;
	height: 7px;
	background: #101010;
	position: absolute;
	top: 25px;
	left: 10px;
	box-shadow:
		0 0px 1px #a19e9e,
		0 0px 0 #a19e9e,
		0 1px 1px #a19e9e,
		0 0px 1px #a19e9e,
		0 -1px 1px #a19e9e;
}

.pads-HB {
	width: 15px;
    height: 7px;
    background: #101010;
    position: absolute;
    top: 24px;
    left: 10px;
    transform: rotate(90deg);
		&::before {
			width: 3px;
			height: 3px;
			background: #5e5e5e;
			position: absolute;
			top: 2px;
			content: '';
			border-radius: 50%;
			left: 7px;
		}
}
.buttonGroupMiddle {
	width: 30px;
	height: 10px;
	background: #eee;
	position: absolute;
	top: 28px;
	left: 33px;
}
.select {
	width: 10px;
    height: 5px;
    background: #101010;
    position: absolute;
		top: 3px;
    left: 3px;
    border-radius: 10px;
}

.start {
	width: 10px;
    height: 5px;
    background: #101010;
    position: absolute;
    top: 3px;
    left: 18px;
    border-radius: 10px;
}

.buttonA {
	top: 28px;
	left: 67px;
	width: 11px;
	height: 11px;
	position: absolute;
	background: #eee;
	&::before {
		content: '';
    width: 10px;
    height: 10px;
    background: red;
    position: absolute;
    top: 0.4px;
    border-radius: 50%;
	}
	&::after {
			content: "";
			height: 4px;
			background:#d95454;
			position: absolute;
			top: 4px;
			border-radius: 50%;
			width: 4px;
			left: 2px;
	}
}

.buttonB {
	top: 28px;
	left: 80px;
	width: 11px;
	height: 11px;
	position: absolute;
	background: #eee;
	&::before {
		content: '';
    width: 10px;
    height: 10px;
    background: red;
    position: absolute;
    top: 0.4px;
    border-radius: 50%;
	}
	&::after {
		content: "";
		height: 4px;
		background: #d95454;
		position: absolute;
		top: 4px;
		border-radius: 50%;
		width: 4px;
		left: 3px;
}
}