.mailHeader {
	background: transparent;
	width: 91%;
	height: 7%;
	position: absolute;
	left: 84px;
	border-radius: 10px 10px 0px 0px;
	display: flex;
	justify-content: flex-end;
	animation:openMailBox 1s 12s forwards;
	visibility: hidden;
}

.mailHeader-close {
	margin: auto 0;
	width: 30px;
	height: 30px;
	cursor: pointer;
	position: relative;
	display: block;
	background: #e79090;
	border-radius: 50%;
	border: 3px solid white;
	&--1 {
		display: block;
    position: absolute;
    width: 15px;
    top: 13px;
    left: 7px;
    height: 1px;
    background: black;
    transform: rotate3d(0, 0, 3, 45deg);
	}
	&--2 {
		display: block;
    width: 15px;
    position: absolute;
    height: 1px;
    background: black;
    transform: rotate3d(0, 0, 3, -45deg);
    top: 13px;
    left: 7px;
	}
}

/* .mailHeader-close::before {
	width: 30px;
	height: 30px;
	content: '';
	background: #e79090;
	border-radius: 50%;
	position: absolute;
	top: 8px;
	border: 3px solid white;
	right: 40px;
} */

.mailHeader-image {
	width: 30px;
	height: 30px;
	background: #afacac;
	border: 3px solid white;
	margin: auto 2rem;
	border-radius: 50%;
	position: relative;

	&--connect {
		width: 5px;
		height: 5px;
		/* background: green; */
		border-radius: 50%;
		display: block;
		border: 2px solid white;
		position: absolute;
		top: -1px;
		right: -4px;
		animation: connectionColor 10s 100ms forwards;

	}
}
.mailHeader-logo {
	color: white;
    margin: auto 0;
    font-size: 1.5rem;
    border: 3px solid white;
    padding: 0.2rem;
    width: 30px;
    text-align: center;
    position: absolute;
    top: 6px;
    left: -60px;
}

@keyframes connectionColor {
	0% {
		background: red;
	}
	50% {
		background: orange;
	}
	100% {
		background: green;
	}
	
}

