.realisations {
	display: flex;
	flex-direction: column;
	height: 89%;
}

.realisations-carrousel,.realisations-carrousel1,.realisations-carrousel2 {
	overflow-x: scroll;
	overflow-y: hidden;
}
.realisations-carrousel1 {
	transform:rotate(180deg);
}
.realisations-carrousel2 {
	transform:rotate(0deg);
}
.realisations-carrousel3 {
	perspective: 500px;
}

.realisations-list, .realisations-list-1, .realisations-list-2, .realisations-list-3 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 3500px;
	height: 100%;
	justify-content: center;
	align-items: center;
	/* cursor: url('../../assets/img/cursor.png'); */
	
}
.realisations-list > li {
	/* background: rgb(252, 172, 172); */
	min-width: 400px;
	height: 400px;
	margin-left: 5rem;
	font-family: 'Bangers';
	font-size: 2rem;
	position: relative;
	/* border: 5px solid white; */
}

.realisations-list-1 > li {
	background: rgb(252, 172, 172);
	min-width: 400px;
	height: 400px;
	margin-left: 5rem;
	border: 5px solid white;
}
.realisations-list-2 > li {
	background: rgb(252, 172, 172);
	min-width: 400px;
	height: 400px;
	margin-left: 5rem;
	border: 5px solid white;
}
.realisations-list-3 > li {
	background: rgb(252, 172, 172);
	min-width: 400px;
	height: 400px;
	margin-left: 5rem;
	border: 5px solid white;
	position: absolute;
	left: 200px;
	box-shadow:
		0 1px 0 #ccc,
		0 2px 0 #acacac,
		0 3px 0 #a0a0a0,
		0 4px 0 #9b9a9a,
		0 5px 0 #888787,
		0 6px 1px rgb(0 0 0 / 10%),
		0 0 5px rgb(0 0 0 / 10%),
		0 1px 3px rgb(0 0 0 / 30%),
		0 3px 5px rgb(0 0 0 / 30%),
		0 5px 10px rgb(0 0 0 / 25%),
		0 10px 10px rgb(0 0 0 / 20%),
		0 20px 20px rgb(0 0 0 / 15%);
}
.realisations-list::-webkit-scrollbar {
	display: none;
	}
.realisations-carrousel::-webkit-scrollbar {
	display: none;
	}
.realisations-carrousel1::-webkit-scrollbar {
	display: none;
}
.realisations-carrousel2::-webkit-scrollbar {
	display: none;
}
.realisations-carrousel3::-webkit-scrollbar {
	display: none;
}
.realisations-item {

}
.realisations-item:nth-child(6) {
	/* visibility: hidden; */
}
.realisations-item:nth-child(1) {
	opacity: 1 !important;
}

.realisations-item:nth-child(2),.realisations-item:nth-child(3),.realisations-item:nth-child(4),.realisations-item:nth-child(5) {
		opacity: 0;
}
.realisations-item--nom {
	font-size: 3rem;
	
}
.realisations-item--description {
	font-size: 1rem;
	word-break: break-all;
	margin: 1rem 3rem;
  display: block;
}

.realisations-item--techno {
	margin: 0rem 3rem;
  display: block;
}

.realisations-item--githubLink {
	font-size: 1.5rem;
	margin: 0rem 3rem;
	&::after {
		content:'';
		z-index: 10;
		border-bottom: 5px solid #18af85;
		width: 390px;
		transform: scaleX(0);
		transition: transform 250ms ease-in-out;
		transform-origin: left;
		display: block;
    margin: auto;
		border-radius: 5px;
	}
	&:hover::after {
		transform: scaleX(1.1);
		color: #18af85;
	} 
}

.realisationFleche {
	position: absolute;
	width: 70px;
	height: 10px;
	background: black;
	border-radius: 10px;
	&::after {
		content: '';
		position: absolute;
		width: 20px;
		height: 10px;
		background: black;
		right: 1px;
		transform: rotate(45deg);
		top: -6px;
		border-radius: 10px;
	}
	&::before {
		content: '';
		position: absolute;
		width: 20px;
		height: 10px;
		background: black;
		right: 1px;
		transform: rotate(-45deg);
		top: 6px;
		border-radius: 10px;
	}

}
.appear,.appear1,.appear2 {
	opacity: 1 !important;
	
}

.up, .up1, .up2{
	opacity: 1 !important;
}


.list-1, .list-2 {
	display: flex;
	flex-direction: row;
	width: 3500px;
	height: 500px;
}

.realisations-list-1 {

}


.wrapper-real {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 1px;
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

.static-real {
	background: white;
}

.section-real {
	position: relative;
	height: 100%;
	display: flex;
}

.parallax-real::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: translateZ(-1px) scale(1.5);
	background-size: 100%;
	z-index: -1;
}

.wrapper-real::-webkit-scrollbar {
	display: none;
}

.realisations-list-3 {
	display: flex;
	position: sticky;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.realisations-item-3:nth-child(6) {
	opacity: 0;
	position: absolute;
	bottom: -150px;
}

.realisations-item-3:nth-child(5) {
	opacity: 0;
	position: absolute;
	bottom: -150px;
}
.realisations-item-3:nth-child(4) {
	opacity: 0;
	position: absolute;
	bottom: -150px;
	/* transition: bottom 2s ease-in 0s; */
/* 	position: absolute;
	bottom: -150px;
	transition: bottom 2s ease-in 0s; */
}
.realisations-item-3:nth-child(3) {
	opacity: 0;
	position: absolute;
	bottom: -150px;
}
.realisations-item-3:nth-child(2) {
	opacity: 0;
	position: absolute;
	bottom: -150px;
}
.realisations-item-3:nth-child(1) {
	opacity: 1;
}

$photos: 6;

	@for $i from 1 through $photos {
		.realisations-item-3:nth-child(#{$i}) {

				$rotation: (($i - 1)/ ($photos - 1)) - 0.5;
				transform: scale(0.6) rotate($rotation * 25deg);

		}
	}

.clicDown {
	width: 100px;
	height: 100px;
	background: transparent;
	display: block;
	margin: 4rem auto;
	position: relative;
	cursor: pointer;
}

.clicDown--1 {
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
	border-radius: 10px;
	transform: rotate(-45deg);
	top: 70px;
	right: 10px;
	&::after {
		width: 50px;
    height: 10px;
    background: black;
    position: absolute;
    border-radius: 10px;
    transform: rotate(90deg);
    top: -20px;
    left: -20px;
    content: '';	
	}
}

.clicDown--2 {
	width: 50px;
	height: 10px;
	background: black;
	position: absolute;
	border-radius: 10px;
	transform: rotate(-45deg);
	top: 40px;
	right: 10px;
	&::after {
		width: 50px;
    height: 10px;
    background: black;
    position: absolute;
    border-radius: 10px;
    transform: rotate(90deg);
    top: -20px;
    left: -20px;
    content: '';
	}
}