.mailBox-message {
	width: 47%;
	background: var(--theme-page-background);
	height: 100%;
	border-radius: 0px 10px 10px 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow-y: auto;
	font-family: 'Ubuntu', sans-serif;
	position: relative;
	color: var(--theme-page-text);
	&-thumbmail {
		width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #a19f9f;
    border: 4px solid #d5cece;
    margin: 1.4rem;
	}
	&-name {
		width: 70%;
    position: absolute;
    top: 40px;
    left: 115px;
    font-weight: 900;
		& > span {
			margin-left: 1rem;
		}
	}
	&-title {
		font-weight: 900;
    width: 100%;
    text-align: center;
		margin: 0.5rem;
	}
	&-date {
		position: absolute;
    top: 25px;
    left: 130px;
    font-size: 0.6rem;
	}
	&-adresseMail {
		font-size: 0.8rem;
    color: #6a6969;
    position: absolute;
    top: 65px;
    left: 130px;
	}
	&-a {
		font-size: 0.6rem;
    color: #6a6969;
    position: absolute;
    left: 50px;
    top: 90px;
		& > span {
			margin-left: 2rem;
		}
	}
	&-paragraph {
		margin: 0.7rem;
		font-size: 0.8rem;
	}
}

#srollbar1::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#srollbar1::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

#srollbar1::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #c6ddc6;
}