.desktop {
	width: 110px;
	height: 150px;
	position: absolute;
	top: 350px;
	left: 170px;
	cursor: pointer;

	&:hover {
		box-shadow:
		0 7px 1px rgb(0 0 0 / 10%),
		0 0 5px rgb(0 0 0 / 10%),
		0 1px 3px rgb(0 0 0 / 30%),
		0 0px 18px rgb(0 0 0 / 30%),
		0 22px 22px rgb(0 0 0 / 25%),
		0 1px 0px rgb(0 0 0 / 20%),
		0 -4px 0px rgb(0 0 0 / 15%);
		&::after {
			opacity: 1;
			animation: pointerMove infinite 4s ease-in;
		}
	}
	&:hover > .desktop-mouse {
		animation: mouseMove infinite 4s ease-in;
	}
	&:hover > .desktop-screen{
		background: linear-gradient(225deg, #0400ff, #0069a7, #2d5c01);

	}
	&::after {
		content: '';
		position: absolute;
		top: 14px;
		left: 24px;
		background: #efefef;
		width: 2px;
		height: 3px;
		opacity: 0;
	}
}

@keyframes pointerMove {
	0% {
		top: 14px;
		left: 24px;
	}
	25% {
		top: 14px;
		left: 54px;
	}
	50% {
		top: 24px;
		left: 74px;
	}
	75% {
		top: 24px;
		left: 34px;
	}
	100% {
		top: 14px;
		left: 24px;
	}
}
@keyframes mouseMove {
	0% {
		top: 85px;
		left: 87px;
	}
	25% {
		top: 85px;
		left: 97px;
	}
	50% {
		top: 90px;
		left: 97px;
	}
	75% {
		top: 90px;
		left: 87px;
	}
	100% {
		top: 85px;
		left: 87px;
	}
}
.desktop-screen {
	width: 75px;
	height: 50px;
	border-radius: 5px;
	background: linear-gradient(225deg, #2d5c01, #0069a7, #0400ff);
	border: 5px solid #1c1c1c;
	position: absolute;
	top: 4px;
	left: 12px;
	cursor: pointer;
	box-shadow: 
		0 7px 1px rgb(0 0 0 / 10%), 
		0 0 5px rgb(0 0 0 / 10%), 
		0 1px 3px rgb(0 0 0 / 30%), 
		0 0px 18px rgb(0 0 0 / 30%), 
		0 22px 22px rgb(0 0 0 / 25%), 
		0 1px 0px rgb(0 0 0 / 20%), 
		0 -4px 0px rgb(0 0 0 / 15%);
	&::before {
		position: absolute;
		content: '';
		bottom: -25px;
		left: 30px;
		border-bottom: 25px solid #1c1c1c;
		border-left: 0px solid transparent;
		border-right: 20px solid transparent;
	}
	&::after {
		position: absolute;
		content: '';
		bottom: -25px;
		left: 20px;
		border-bottom: 25px solid #1c1c1c;
		border-left: 20px solid transparent;
		border-right: 0px solid transparent;
	}
}
.desktop-keyboard {
	position: absolute;
	bottom: 31px;
	border-radius: 5px;
	left: 10px;
	transform: skewX(-10deg);
	width: 75px;
	height: 30px;
	background: #dddbdb;
	box-shadow: 1px 2px 1px 1px #efefef;

	&::after {
		content: '';
		width: 60px;
		height: 3px;
		border-radius: 5px;
		border-top: 2px solid #efefef;
		position: absolute;
		top: 7px;
		left: 7px;
		border-bottom: 2px solid #efefef;
	}
	&::before {
		top: 18px;
		left: 7px;
		content: '';
		width: 60px;
		height: 3px;
		border-radius: 5px;
		border-top: 2px solid #EFEFEF;
		position: absolute;
		border-bottom: 2px solid #efefef;
	}
}

.desktop-mouse {
	transform: rotate(-33deg);
	position: absolute;
	top: 95px;
	left: 87px;
	width: 20px;
	height: 20px;
	background: #dddbdb;
	box-shadow:
	 0 4px 1px rgb(0 0 0 / 10%),
	 0 0 5px rgb(0 0 0 / 10%),
	 0 1px 3px rgb(0 0 0 / 30%),
	 0 0px 3px rgb(0 0 0 / 30%),
	 0 12px 22px rgb(0 0 0 / 25%),
	 0 1px 0px rgb(0 0 0 / 20%),
	 0 -4px 0px rgb(0 0 0 / 15%);
	border-radius: 75% 40% 75% 40%;
	&::before {
		content: '';
    width: 2px;
    height: 10px;
    background: #efefef;
    position: absolute;
    bottom: 8px;
    right: 5px;
    border-radius: 10%;
    transform: rotate(45deg);
	}
}

.parametre {
	background: var(--theme-page-background);
	color: var(--theme-page-text);
	width: 40vw;
	height: 65vh;
	position: absolute;
	top: 200px;
	left: 500px;
	box-shadow:
		0 1px 0 #ccc,
		0 2px 0 #acacac,
		0 3px 0 #a0a0a0,
		0 4px 0 #9b9a9a,
		0 5px 0 #888787,
		0 6px 1px rgb(0 0 0 / 10%),
		0 0 5px rgb(0 0 0 / 10%),
		0 1px 3px rgb(0 0 0 / 30%),
		0 3px 5px rgb(0 0 0 / 30%),
		0 5px 10px rgb(0 0 0 / 25%),
		0 10px 10px rgb(0 0 0 / 20%),
		0 20px 20px rgb(0 0 0 / 15%);
	
	&--close {
		cursor: pointer;
		position: absolute;
		top: -2px;
		right: 10px;
		font-size: 2rem;
		color: var(--theme-page-text);
	}
	&--title {
		font-family: 'Segoe UI, Tahoma, Geneva, Verdana, sans-serif';
		text-align: center;
		margin-bottom: 5rem;
	}
}

.parametre-choix {
	display: flex;
	font-family: 'Segoe UI, Tahoma, Geneva, Verdana, sans-serif';
	justify-content: space-around;
	margin:auto;
	width: 90%;
	flex-wrap: wrap;
}
.parametre-systeme, .parametre-ecran {
	display: flex;
	position: relative;
	width: 49%;
	margin-bottom: 4rem;
	cursor: pointer;
	height: 70px;
	padding: 1rem 0;
}
.parametre-systeme:hover, .parametre-ecran:hover {
	border: 2px solid #c7c7c7;
	height: 70px;
}
.parametre-systeme-screen  {
	width: 40px;
	height: 20px;
	border-radius: 5px;
	background: linear-gradient(225deg, #2d5c01, #0069a7, #0400ff);
	border: 5px solid var(--border-param);
	cursor: pointer;
	margin-right: 1rem;
	box-shadow: 
		0 7px 1px rgb(0 0 0 / 10%),
		0 0 5px rgb(0 0 0 / 10%),
		0 1px 3px rgb(0 0 0 / 30%),
		0 0px 18px rgb(0 0 0 / 30%),
		0 22px 22px rgb(0 0 0 / 25%),
		0 1px 0px rgb(0 0 0 / 20%),
		0 -4px 0px rgb(0 0 0 / 15%);
}
.parametre-ecran-screen {
	width: 40px;
	height: 20px;
	border-radius: 5px;
	border: 5px solid var(--border-param);
	cursor: pointer;
	box-shadow: 
		0 7px 1px rgb(0 0 0 / 10%),
		0 0 5px rgb(0 0 0 / 10%),
		0 1px 3px rgb(0 0 0 / 30%),
		0 0px 18px rgb(0 0 0 / 30%),
		0 22px 22px rgb(0 0 0 / 25%),
		0 1px 0px rgb(0 0 0 / 20%),
		0 -4px 0px rgb(0 0 0 / 15%);
	margin-right: 1rem;
}

.parametre-systeme-name, .parametre-ecran-name {
	margin: 0;
}

.parametre-systeme-infos {
	font-size: 0.8rem;
	color: #585858;
	position: absolute;
	top: 40px;	
	left: 65px;
	width: 150px;
}
.parametre-ecran-cadena {
	width: 40px;
	height: 30px;
	margin-right: 1rem;
	border: 5px solid var(--border-param);
	&::after {
		content: '';
		width: 5px;
		height: 5px;
		border-radius: 50% 20%;
		background:  var(--border-param);
		position: absolute;
		top: 40px;
		left: 22px;
	}
	&::before {
		content: '';
		width: 40px;
		height: 40px;
		border-top: 5px solid var(--border-param);
		border-radius: 50% 50% 0 0;
		position: absolute;
		top: -4px;
		left: 0px;
		border-left: 5px solid var(--border-param);
		border-right: 5px solid var(--border-param);
	}
}

.parametre-ecran-ergo {
	width: 40px;
	border-bottom: 5px solid var(--border-param);
	border-left: 5px solid var(--border-param);
	height: 40px;
	margin-right: 1rem;
	&::after {
		content: '';
    width: 35px;
    height: 35px;
    border-bottom: 5px solid var(--parametre-draw);
    border-left: 5px solid var(--parametre-draw);
    position: absolute;
    left: 7px;
    top: 15px;
	}
	&::before {
		content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--parametre-draw);
    position: absolute;
    top: 0px;
    left: 0;
	}
}

.parametre-ecran-maj {
	width: 40px;
	height: 40px;
	border: 5px solid var(--border-param);
	border-radius: 50%;
	margin-right: 1rem;
	&::after {
		content: '';
    border-top: 5px solid var(--border-param);
    border-left: 5px solid var(--border-param);
    position: absolute;
    width: 10px;
    top: 32px;
    left: 18px;
    height: 10px;
    transform: rotate(45deg);
	}
	&::before {
		content: '';
    width: 5px;
    height: 25px;
    background: var(--border-param);
    position: absolute;
    top: 35px;
    left: 23px;
	}
}


.system-menu--goback {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 1.3rem;
	cursor: pointer;
	z-index: 2;
}

.system {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

.system-sys {
	display: flex;
	flex-direction: row;
	height: 65vh;
}

.system-menu {
	width: 30%;
	font-size: 1rem;
	font-family: 'Segoe UI, Tahoma, Geneva, Verdana, sans-serif';
	font-weight: bold;
	background: var(--theme-page-background);
	color: var(--theme-page-text);
}

.system-menu-ul {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 65vh;
}

.system-menu-li {
	z-index: 2;
	cursor: pointer;
	& .active {
		transform: none;
	}
}

.system-action {
	background: var(--system-action-bg);
	padding-left: 2rem;
	font-family: 'Segoe UI, Tahoma, Geneva, Verdana, sans-serif';
	overflow-y: scroll;
	scroll-behavior: smooth;
	width: 100%;
}

.system-action-section {
	height: 400px;
	& > span {
		margin-bottom: 1rem;
    display: block;
		font-weight: bold;
		& > span {
			color: var(--parametre-draw);
			font-weight: lighter;
		}
	}
}
.system-action-section-li {
	font-size: 1.8rem;
	&:hover {
		border: 2px solid var(--theme-page-text);
	}
}

#srollbarSys::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#srollbarSys::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

#srollbarSys::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #d7d4d4;
}

.parametre-ecran-screen::before {
	content: '';
	width: 10px;
	height: 7px;
	border: 1px solid var(--theme-page-text);
	position: absolute;
	top: 30px;
	left: 7px;
	border-radius: 50% 0%;
}

.parametre-ecran-screen::after {
	content: '';
	width: 7px;
	height: 17px;
	background: var(--theme-page-text);
	position: absolute;
	top: 20px;
	left: 20px;
	transform: rotate(56deg);
	border-radius: 10px 10px 0 0;
}

.system-action-actualScreen {
	width: 200px;
	height: 150px;
	border-radius: 5px;
	background: linear-gradient(225deg, #2d5c01, #0069a7, #0400ff);
	border: 5px solid var(--border-param);
}
.system-action-actualScreenSmall {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 80%;
	
}
.system-action-small {
	width: 65px;
	height: 55px;
	border-radius: 5px;
	border: 5px solid var(--border-param);
	cursor: pointer;
	margin-bottom: 0.2rem;
	&:hover {
		border: 5px solid white;
	}
}

#couleur {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-left: 2.5rem;
}

.system-action-section--input {
	display: flex;
	flex-direction: column;
	& > label {
		display: flex;
		width: 60%;
		margin: 0.5rem;
	}
	& > input {
		margin-left: 0.5rem;
	}
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
	border-radius: 50%;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
	border-radius: 50%;
}

.confidential, .ergonomie, .maj {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

#tailleText {
	-webkit-appearance: none;
	width: 300px;
  height: 2px;
	margin: 0 auto;
  outline: 0;
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 50px;
		height: 10px;
		background: var(--filesColor);
		cursor: pointer;
	}
	&::-webkit-slider-thumb:hover {
		background-color: white;
    border: 2px solid var(--filesColor);
	}
	&::-webkit-slider-thumb:active {}
}

.input-textTaille--value, .input-lumi--value {
	position: absolute;
	top: -15px;
	left: 50%;
}
.input-lumi--value {
	z-index: 0;
}
.inputValueText {
	width: 255px;
	position: relative;

	& > button {
		border: 0;
		background: var(--theme-page-text);
		color: var(--theme-page-background);
		cursor: pointer;
		margin: 3rem 1rem;
		padding: 0.5rem;
		border-radius: 5px;
		&:hover {
			background: var(--theme-page-background);
			color: var(--theme-page-text);
		}
	}
}
.inputValueLumi {
	position: relative;
	width: 255px;
	display: flex;
}
#lumi {
	-webkit-appearance: none;
	width: 300px;
  height: 2px;
	margin: 1rem auto;
	background: none;
  outline: 0;
	z-index: 1;
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 90px;
		height: 90px;
		background: transparent;
		background-size: contain;
		cursor: pointer;
		z-index: 3;

	}
	&::-webkit-slider-thumb:hover {
		/* background-color: white;
    border: 2px solid var(--filesColor); */
	}
	&::-webkit-slider-thumb:active {}
}

.lightColor {
	fill:#d8db0e;

}
.styleSvg {
	shape-rendering:geometricPrecision; 
	text-rendering:geometricPrecision;
	image-rendering:optimizequality;
	fill-rule:evenodd;
	clip-rule:evenodd;
	margin: 0;
	animation: none;
	width: 90px;
	z-index: 2;
}
